@{
    ViewData["Title"] = "Home";
    var lstNew = ViewData["DSnew"] as List<Anh>;
    var lstPrice = ViewData["DSprice"] as List<Anh>;
}
@model WebLapTop.Models.Anh
@if (!String.IsNullOrEmpty(ViewData["AlertBill"].ToString()))
{
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Đã lưu đơn hàng</p>
        </div>
    </div>
}
<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                @*<div class="logo">
                        <h1><a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png"></a>Trang chủ</h1>
                    </div>*@
            </div>

            <div class="col-sm-6">
                @*<div class="shopping-item">
                        <a asp-area="" asp-controller="Home" asp-action="Cart">Giỏ hàng - <span class="cart-amunt">$10000</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
                    </div>*@
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->


<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            @foreach (var item in ViewBag.Anh)
            {
                <li>
                    <img src="@item.MaAnh" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            @item.MaSpNavigation.ThuongHieu <span class="primary">@item.MaSpNavigation.TenSp </span>
                        </h2>
                        <h4 class="caption subtitle">@item.MaSpNavigation.LoaiSp</h4>
                        <a class="caption button-radius" asp-area="" asp-controller="Home" asp-action="Detail" asp-route-MaSp="@item.MaSp"><span class="icon"></span>Mua ngay</a>
                    </div>
                </li>
            }
        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->

<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <div class="section-title-1"></div>

                    <div class="product-carousel">
                        @foreach (var item in lstPrice)
                        {
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="@item.MaAnh" alt="">
                                    <div class="product-hover">
                                        <a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-MaSp="@item.MaSp" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                                        <a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-MaSp="@item.MaSp" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
                                    </div>
                                </div>

                                <h2><a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-MaSp="@item.MaSp"> @item.MaSpNavigation.ThuongHieu @item.MaSpNavigation.TenSp</a></h2>
                                <div class="product-carousel-price">
                                    <ins>@(String.Format("{0:0,0}", @item.MaSpNavigation.DonGia).Replace(',','.')) VNĐ</ins> <del style="color:red;">@(String.Format("{0:0,0}", (@item.MaSpNavigation.DonGia*1.05)).Replace(',', '.'))</del>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->
<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <div class="section-title-2"></div>
                    <div class="product-carousel">
                        @foreach (var item in lstNew)
                        {
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="@item.MaAnh" alt="">
                                    <div class="product-hover">
                                        <a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-MaSp="@item.MaSp" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                                        <a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-MaSp="@item.MaSp" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
                                    </div>
                                </div>

                                <h2><a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-MaSp="@item.MaSp"> @item.MaSpNavigation.ThuongHieu @item.MaSpNavigation.TenSp</a></h2>

                                <div class="product-carousel-price">
                                    <ins>@(String.Format("{0:0,0}", @item.MaSpNavigation.DonGia).Replace(',', '.')) VNĐ</ins> <del style="color:red;">@(String.Format("{0:0,0}", (@item.MaSpNavigation.DonGia*1.05)).Replace(',', '.'))</del>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->



<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="section-title-3"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">
                        <img src="~/img/brand1.png" alt="">
                        <img src="~/img/brand2.png" alt="">
                        <img src="~/img/brand3.png" alt="">
                        <img src="~/img/brand4.png" alt="">
                        <img src="~/img/brand5.png" alt="">
                        <img src="~/img/brand6.png" alt="">
                        <img src="~/img/brand7.png" alt="">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
