@{
    ViewData["Title"] = "ListProduct";
}
@using PagedList.Mvc
@model PagedList.IPagedList<WebLapTop.Models.Anh>
    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <h2>Kết quả cho @ViewData["key"] </h2>
            <div class="row"  style="background-color:white; display:flex ; flex-wrap:wrap">
                @foreach (var item in Model)
                {
                    <div class="col-md-3" >
                    <div class="single-product">
                        <div class="product-f-image">
                            <img src="@item.MaAnh" alt="">
                            <div class="product-hover">
                                <a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-MaSp="@item.MaSp" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                                <a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-MaSp="@item.MaSp" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
                            </div>
                        </div>

                        <h2><a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-MaSp="@item.MaSp"> @item.MaSpNavigation.ThuongHieu @item.MaSpNavigation.TenSp</a></h2>
                        <div class="product-carousel-price">
                            <ins>@(String.Format("{0:0,0}", @item.MaSpNavigation.DonGia)) VNĐ</ins> <del style="color:red;">@(String.Format("{0:0,0}", (@item.MaSpNavigation.DonGia*1.05)))</del>
                        </div>
                    </div>
                    </div>
                }
            </div>
            <div class="row" style="font-size:18px;text-align:right;padding:20px;margin-top:20px">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                <div class="PageOptions">
                    @Html.ActionLink("", "ListProduct", "Home", new { keyword = ViewData["key"], page = 1 }, new { @class = "fa fa-angle-double-left", Title = "Trang đầu" })

                    @Html.ActionLink("", "ListProduct", "Home", new { keyword = ViewData["key"], page = Model.PageNumber - 1 }, new { @class = "fa fa-angle-left", Title = "Trang trước" })

                    @Html.ActionLink(Model.PageNumber + "", "ListProduct", "Home", new { keyword = ViewData["key"], page = Model.PageNumber }, new { @class = "PageChoose" })
                    @if (Model.PageCount == Model.PageNumber)
                    {
                        @Html.ActionLink("", "ListProduct", "Home", new { keyword = ViewData["key"], page = Model.PageNumber }, new { @class = "fa fa-angle-right", Title = "Trang sau" })
                    }
                    else
                    {
                        @Html.ActionLink("", "ListProduct", "Home", new { keyword = ViewData["key"], page = Model.PageNumber + 1 }, new { @class = "fa fa-angle-right", Title = "Trang sau" })
                    }

                    @Html.ActionLink("", "ListProduct", "Home", new { keyword = ViewData["key"], page = Model.PageCount }, new { @class = "fa fa-angle-double-right", Title = "Trang cuối" })
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->
