@{
    ViewData["Title"] = "Signup";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@model WebLapTop.Models.KhachHangValid
<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container-1">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Đăng kí</h2>
                    @using (Html.BeginForm("Signup", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-accounts-outline"></i></label>
                                @Html.TextBoxFor(a => a.TenKh, new { @name = "name", @id = "name", @placeholder = "Họ và tên" })
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                @Html.TextBoxFor(a => a.Email, new { @name = "email", @id = "email", @placeholder = "Email" })
                            </div>
                            <div class="form-group">
                                <label for="address"><i class="zmdi zmdi-my-location"></i></label>
                                @Html.TextBoxFor(a => a.DiaChi, new { @name = "address", @id = "address", @placeholder = "Địa chỉ" })
                            </div>
                            <div class="form-group">
                                <label for="phone"><i class="zmdi zmdi-account-box-phone"></i></label>
                                @Html.TextBoxFor(a => a.Sdt, new { @name = "address", @id = "address", @placeholder = "Số điện thoại" })
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                @Html.PasswordFor(a => a.MatKhau, new { @name = "phone", @id = "phone", @placeholder = "Mật khẩu" })
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                @Html.PasswordFor(a => a.reMatKhau, new { @name = "re-pass", @id = "re-pass", @placeholder = "Nhập lại mật khẩu" })
                            </div>

                            <div class="form-group">
                                @Html.CheckBoxFor(a => a.Check, new { @name = "agree-term", @id = "agree-term" })
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>Tôi đồng ý với các <a href="#" class="term-service">điều khoản của nhóm phát triển</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Đăng kí" />
                            </div>
                        </form>
                    }
                </div>
                <div class="signup-image">
                    <figure><img src="~/img/signup-image.jpg" alt="sing up image"></figure>
                    <a asp-area="" asp-controller="Home" asp-action="Login" class="signup-image-link">Tôi đã có tài khoản</a>
                </div>
            </div>
        </div>
    </section>
</div>

