
@{
    ViewData["Title"] = "Kho";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var lstK = ViewData["dsKho"] as List<Kho>;

    var update = ViewData["employee"] as Kho;
}
<h3>DANH SÁCH KHO</h3>
@model WebLapTop.Models.Kho
@* Form thêm------------------------------------ *@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
        .cs {
            width: 145px;
            height: 34px;
            padding: 0px;
            margin: 10px 10px 20px 10px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: chartreuse;
        }
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

        /* Add Animation */
@*@webkit -keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}*@

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

        .modal-header {
            padding: 2px 20px;
            background-color: #5cb85c;
            color: white;
            text-align: left;
        }

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  padding-top: 20px;
}
    </style>
</head>
<body>

    @*<h2>Animated Modal with Header and Footer</h2>*@

    <!-- Trigger/Open The Modal -->
    <button id="myBtn" class="cs">Thêm Kho</button>

    <!-- The Modal -->

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>THÊM KHO CHỨA</h2>
            </div>
            <div class="modal-body">
                @* Nội dung thêm *@
                <div class="main">

                    <!-- Add nhân viên form -->
                    <section class="signup">
                        <div class="container-1">
                            <div class="signup-content">
                                <div class="signup-form">
                                    @using (Html.BeginForm("Kho", "Admin", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary()
                                        <form method="POST" class="register-form" id="register-form">
                                            <div class="form-group">
                                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                                <label for="fname" style="padding-right:70px">Tên kho: </label>
                                                @Html.TextBoxFor(a => a.TenKho, new { @name = "name", @id = "name", @type = "text", @placeholder = "Tên kho" })
                                            </div>
                                            <div class="form-group">
                                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                                <label for="fname" style="padding-right:79px">Địa chỉ: </label>
                                                @Html.PasswordFor(a => a.DiaChi, new { @name = "address", @id = "address", @type = "text", @placeholder = "Địa chỉ" })
                                            </div>
                                            <div class="form-group">
                                                <label for="phone"><i class="zmdi zmdi-account-box-phone"></i></label>
                                                <label for="fname" style="padding-right:34px">Số điện thoại: </label>
                                                @Html.TextBoxFor(a => a.Sdt, new { @name = "phone", @id = "phone", @type = "number", @placeholder = "Số điện thoại" })
                                            </div>
                                            <div class="form-group">
                                                <label for="address"><i class="zmdi zmdi-my-location"></i></label>
                                                <label for="fname" style="padding-right:87px">Email: </label>
                                                @Html.TextBoxFor(a => a.Email, new { @name = "email", @id = "email", @type = "email", @placeholder = "Email" })
                                            </div>

                                            <div class="form-group form-button">
                                                <input type="submit" name="signup" id="signup" class="form-submit" value="THÊM" />
                                            </div>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    </section>
                    @* ------------------------------------------------------ *@
                </div>
            </div>
        </div>
    </div>

    @* --sửa  *@
    @if (update != null)
    {<div id="updateModal" class="modal" style="display:block">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="closeu">&times;</span>
                    @*<button style="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
                    <h2>SỬA KHO</h2>
                </div>
                <div class="modal-body">
                    @* Nội dung thêm *@
                    <div class="main">

                        <!-- Sửa nhân viên form -->
                        <section class="signup">
                            <div class="container-1">
                                <div class="signup-content">
                                    <div class="signup-form">
                                        @using (Html.BeginForm("Kho_sua", "Admin", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary()
                                            <form method="POST" class="register-form" id="register-form">
                                                <div class="form-group">
                                                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                                                    <label for="fname" style="padding-right:77px">Mã Kho: </label>
                                                    <input name="MaKho" id="MaKho" type="text" value="@update.MaKho" disabled />
                                                </div>
                                                <div class="form-group">
                                                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                                                    <label for="fname" style="padding-right:70px">Tên Kho: </label>
                                                    <input name="TenKho" id="TenKho" type="text" value="@update.TenKho" />
                                                </div>

                                                <div class="form-group">
                                                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                                                    <label for="fname" style="padding-right:79px">Địa Chỉ: </label>
                                                    <input name="DiaChi" id="DiaChi" type="text" value="@update.DiaChi" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="phone"><i class="zmdi zmdi-account-box-phone"></i></label>
                                                    <label for="fname" style="padding-right:38px">Số điện thoại: </label>
                                                    <input name="Sdt" id="Sdt" type="number" value="@update.Sdt" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="address"><i class="zmdi zmdi-my-location"></i></label>
                                                    <label for="fname" style="padding-right:92px">Email: </label>
                                                    <input name="Email" id="Email" type="email" value="@update.Email" />
                                                </div>

                                                <input type="text" name="MaKho" style="display:none" value="@update.MaKho" />
                                                <div class="form-group form-button">
                                                    <input type="submit" name="signup" id="signup" class="form-submit" value="Cập nhật" />
                                                </div>
                                            </form>
                                        }
                                    </div>
                                </div>
                            </div>
                        </section>
                        @* ------------------------------------------------------ *@
                    </div>
                </div>
            </div>
        </div>
    }
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script>
        // Get the modal
        var modal_sua = document.getElementById("updateModal");

        var btn_sua = document.getElementById("btn_sua");

        btn_sua.onclick = function () {
            modal_sua.style.display = "block";
        }
            //Get the <span> element that closes the modal
            //var span_x = document.getElementsByClassName("close_x")[0];


            ////// When the user clicks on <span> (x), close the modal
            //span_x.onclick = function () {
            //    modal_sua.style.display = "none";
            //    //}

            //    // When the user clicks anywhere outside of the modal, close it
            //    window.onclick = function (event) {
            //        if (event.target == modal_sua) {
            //            modal_sua.style.display = "none";
            //        }
            //    }
    </script>

</body>
</html>
@* ---------------------------------------- *@

@* Hiển thị danh sách nhân viên*@
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Mã Kho</td>
            <td>Tên kho</td>
            <td>Địa chỉ</td>
            <td>SĐT</td>
            <td>Email</td>
            @*<td>Trth</td>*@
            <td>Sửa</td>
            <td>Xóa</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lstK)
        {
            if (item.TrangThai == true)
            {
                <tr>
                    <td>@item.MaKho</td>
                    <td>@item.TenKho</td>
                    <td>@item.DiaChi</td>
                    <td>@item.Sdt</td>
                    <td>@item.Email</td>
                    @*<td>@item.TrangThai</td>*@
                    @*<td><a href="~/Admin_layout/@item.TenNv">Xóa</a></td>*@
                    <td><button><a asp-area="" asp-controller="Admin" asp-action="load_DataKho" asp-route-id="@item.MaKho">Sửa</a></button></td>
                    <td><button><a asp-area="" asp-controller="Admin" asp-action="Kho_xoa" asp-route-id="@item.MaKho">Xóa</a></button></td>
                </tr>
            }

        }
    </tbody>
</table>

