
@{
    ViewData["Title"] = "NhanVien";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var lstNV = ViewData["dsNhanVien"] as List<Nhanvien>;
    //var account = ViewData["Account"] as AccountLogin;

    var update = ViewData["employee"] as Nhanvien;
}

<h3>DANH SÁCH NHÂN VIÊN</h3>
@*@model WebLapTop.Models.Chinhanh*@
@model WebLapTop.Models.Nhanvien
@* Form thêm------------------------------------ *@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }


        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .closeu {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close_x {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .closeu:hover,
        .closeu:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .close_x:hover,
        .closeu_x:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            padding: 2px 20px;
            background-color: #5cb85c;
            color: white;
            text-align: left;
        }

        .modal-body {
            padding: 2px 16px;
        }

        .modal-footer {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
            padding-top: 20px;
        }
    </style>
</head>
<body>

    @*<h2>Animated Modal with Header and Footer</h2>*@

    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Thêm Nhân Viên</button>

    <!-- The Modal -->

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="closeu">&times;</span>
                <h2>THÊM THÀNH VIÊN</h2>
            </div>
            <div class="modal-body">
                @* Nội dung thêm *@
                <div class="main">

                    <!-- Add nhân viên form -->
                    <section class="signup">
                        <div class="container-1">
                            <div class="signup-content">
                                <div class="signup-form">
                                    @using (Html.BeginForm("NhanVien", "Admin", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary()
                                        <form method="POST" class="register-form" id="register-form">
                                            <div class="form-group">
                                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                                <label for="fname" style="padding-right:77px">Họ tên: </label>
                                                @Html.TextBoxFor(a => a.TenNv, new { @name = "name", @id = "name", @type = "text", @placeholder = "Tên nhân viên" })
                                            </div>
                                            <div class="form-group">
                                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                                <label for="fname" style="padding-right:30px">Mã chi nhánh: </label>
                                                @Html.TextBoxFor(a => a.MaCn, new { @name = "name", @id = "name", @type = "text", @placeholder = "Mã chi nhánh" })
                                            </div>
                                            <div class="form-group">
                                                <label for="address"><i class="zmdi zmdi-my-location"></i></label>
                                                <label for="fname" style="padding-right:87px">Email: </label>
                                                @Html.TextBoxFor(a => a.Email, new { @name = "email", @id = "email", @type = "email", @placeholder = "Email" })
                                            </div>
                                            <div class="form-group">
                                                <label for="phone"><i class="zmdi zmdi-account-box-phone"></i></label>
                                                <label for="fname" style="padding-right:34px">Số điện thoại: </label>
                                                @Html.TextBoxFor(a => a.Sdt, new { @name = "phone", @id = "phone", @type = "number", @placeholder = "Số điện thoại" })
                                            </div>
                                            <div class="form-group">
                                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                                <label for="fname" style="padding-right:79px">Địa chỉ: </label>
                                                @Html.PasswordFor(a => a.DiaChi, new { @name = "address", @id = "address", @type = "text", @placeholder = "Địa chỉ" })
                                            </div>
                                            <div class="form-group">
                                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                                <label for="fname" style="padding-right:61px">Mật khẩu: </label>
                                                @Html.PasswordFor(a => a.MatKhau, new { @name = "re-pass", @id = "re-pass", @placeholder = "Mật khẩu" })
                                            </div>
                                            <div class="form-group">
                                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                                <label for="fname" style="padding-right:67px">Chức vụ: </label>
                                                @Html.PasswordFor(a => a.ChucVu, new { @name = "chucvu", @id = "chucvu", @type = "text", @placeholder = "Chức vụ" })
                                            </div>
                                            <div class="form-group">
                                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                                <label for="fname" style="padding-right:80px">Quyền: </label>
                                                @Html.PasswordFor(a => a.Quyen, new { @name = "quyen", @id = "quyen", @type = "text", @placeholder = "Quyền" })
                                            </div>

                                            <div class="form-group form-button">
                                                <input type="submit" name="signup" id="signup" class="form-submit" value="THÊM" />
                                            </div>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    </section>
                    @* ------------------------------------------------------ *@
                </div>
            </div>
        </div>
    </div>

    @*---model update*@
    @if (update != null)
    {<div id="updateModal" class="modal" style="display:block">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="closeu">&times;</span>
                    @*<button style="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
                    <h2>SỬA THÀNH VIÊN</h2>
                </div>
                <div class="modal-body">
                    @* Nội dung thêm *@
                    <div class="main">

                        <!-- Add nhân viên form -->
                        <section class="signup">
                            <div class="container-1">
                                <div class="signup-content">
                                    <div class="signup-form">
                                        @using (Html.BeginForm("NhanVien_sua", "Admin", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary()
                                            <form method="POST" class="register-form" id="register-form">
                                                <div class="form-group">
                                                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                                                    <label for="fname" style="padding-right:77px">Họ tên: </label>
                                                    <input name="TenNv" id="TenNv" type="text" value="@update.TenNv" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                                                    <label for="fname" style="padding-right:30px">Mã chi nhánh: </label>
                                                    <input name="MaCn" id="MaCn" type="text" value="@update.MaCn" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="address"><i class="zmdi zmdi-my-location"></i></label>
                                                    <label for="fname" style="padding-right:87px">Email: </label>
                                                    <input name="Email" id="Email" type="text" value="@update.Email" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="phone"><i class="zmdi zmdi-account-box-phone"></i></label>
                                                    <label for="fname" style="padding-right:34px">Số điện thoại: </label>
                                                    <input name="Sdt" id="Sdt" type="text" value="@update.Sdt" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                                    <label for="fname" style="padding-right:79px">Địa chỉ: </label>
                                                    <input name="DiaChi" id="DiaChi" type="text" value="@update.DiaChi" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                                    <label for="fname" style="padding-right:61px">Mật khẩu: </label>
                                                    <input name="MatKhau" id="MatKhau" type="text" value="@update.MatKhau" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                                    <label for="fname" style="padding-right:67px">Chức vụ: </label>
                                                    <input name="ChucVu" id="ChucVu" type="text" value="@update.ChucVu" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                                    <label for="fname" style="padding-right:80px">Quyền: </label>
                                                    <input name="Quyen" id="Quyen" type="text" value="@update.Quyen" />
                                                </div>
                                                <input type="text" name="MaNv" style="display:none" value="@update.MaNv" />
                                                <div class="form-group form-button">
                                                    <input type="submit" name="signup" id="signup" class="form-submit" value="Cập nhật" />
                                                </div>
                                            </form>
                                        }
                                    </div>
                                </div>
                            </div>
                        </section>
                        @* ------------------------------------------------------ *@
                    </div>
                </div>
            </div>
        </div>
    }
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("closeu")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script>
        // Get the modal
        var modal_sua = document.getElementById("updateModal");

        var btn_sua = document.getElementById("btn_sua");

        btn_sua.onclick = function () {
            modal_sua.style.display = "block";
        }
        //Get the <span> element that closes the modal
        var span_x = document.getElementsByClassName("close_x")[0];


        //// When the user clicks on <span> (x), close the modal
        span_x.onclick = function () {
            modal_sua.style.display = "none";
            //}

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal_sua) {
                    modal_sua.style.display = "none";
                }
            }
    </script>

</body>
</html>
@* ---------------------------------------- *@

@* Hiển thị danh sách nhân viên*@
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Mã nhân viên</td>
            <td>Mã chi nhánh</td>
            <td>Tên nhân viên</td>
            <td>Chức vụ</td>
            <td>SĐT</td>
            <td>Địa chỉ</td>
            <td>Email</td>
            @*<td>Trth</td>*@
            <td>Xóa</td>
            <td>Sửa</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lstNV)
        {
            if (item.TrangThai == true)
            {
                <tr>
                    <td>@item.MaNv</td>
                    <td>@item.MaCn</td>
                    <td>@item.TenNv</td>
                    <td>@item.ChucVu</td>
                    <td>@item.Sdt</td>
                    <td>@item.DiaChi</td>
                    <td>@item.Email</td>
                    @*<td>@item.TrangThai</td>*@
                    @*<td><a href="~/Admin_layout/@item.TenNv">Xóa</a></td>*@
                    <td><button><a asp-area="" asp-controller="Admin" asp-action="load_DataNV" asp-route-id="@item.MaNv">Sửa</a></button></td>
                    <td><button><a asp-area="" asp-controller="Admin" asp-action="NhanVien_xoa" asp-route-id="@item.MaNv">Xóa</a></button></td>
                </tr>
            }
        }
    </tbody>
</table>

