
@{
    ViewData["Title"] = "SanPham";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var lstSP = ViewData["dsSanPham"] as List<Sanpham>;
    //var account = ViewData["Account"] as AccountLogin;

    var update = ViewData["employee"] as Sanpham;
}

<h3>DANH SÁCH SẢN PHẨM</h3>
@*@model WebLapTop.Models.Chinhanh*@
@model WebLapTop.Models.Sanpham
@* Form thêm------------------------------------ *@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }


        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .closeu {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close_x {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .closeu:hover,
        .closeu:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .close_x:hover,
        .closeu_x:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            padding: 2px 20px;
            background-color: #5cb85c;
            color: white;
            text-align: left;
        }

        .modal-body {
            padding: 2px 16px;
        }

        .modal-footer {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
            padding-top: 20px;
        }

        .cs {
            width: 145px;
            height: 34px;
            padding: 0px;
            margin: 10px 10px 20px 10px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: chartreuse;
        }
    </style>
</head>
<body>

    @*<h2>Animated Modal with Header and Footer</h2>*@

    <!-- Trigger/Open The Modal -->
    <button id="myBtn" class="cs">Thêm Sản Phẩm</button>

    <!-- The Modal -->

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="closeu">&times;</span>
                <h2>THÊM SẢN PHẨM</h2>
            </div>
            <div class="modal-body">
                @* Nội dung thêm *@
                <div class="main">

                    <!-- Add nhân viên form -->
                    <section class="signup">
                        <div class="container-1">
                            <div class="signup-content">
                                <div class="signup-form">
                                    @using (Html.BeginForm("SanPham", "Admin", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary()
                                        <form method="POST" class="register-form" id="register-form">
                                            <div class="form-group">
                                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                                <label for="fname" style="padding-right:60px">Mã nhà cung cấp: </label>
                                                @Html.TextBoxFor(a => a.MaNcc, new { @name = "MaNcc", @id = "MaNcc", @type = "text", @placeholder = "Mã nhà cung cấp" })
                                            </div>
                                            <div class="form-group">
                                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                                <label for="fname" style="padding-right:86px">Mã nhân viên: </label>
                                                @Html.TextBoxFor(a => a.MaNv, new { @name = "MaNv", @id = "MaNv", @type = "text", @placeholder = "Mã nhân viên" })
                                            </div>
                                            <div class="form-group">
                                                <label for="address"><i class="zmdi zmdi-my-location"></i></label>
                                                <label for="fname" style="padding-right:75px">Mã khuyến mãi: </label>
                                                @Html.TextBoxFor(a => a.MaKm, new { @name = "MaKm", @id = "MaKm", @type = "number", @placeholder = "Mã khuyến mãi" })
                                            </div>
                                            <div class="form-group">
                                                <label for="phone"><i class="zmdi zmdi-account-box-phone"></i></label>
                                                <label for="fname" style="padding-right:80px">Tên sản phẩm: </label>
                                                @Html.TextBoxFor(a => a.TenSp, new { @name = "TenSp", @id = "TenSp", @type = "text", @placeholder = "Tên sản phẩm" })
                                            </div>
                                            <div class="form-group">
                                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                                <label for="fname" style="padding-right:77px">Loại sản phẩm: </label>
                                                @Html.PasswordFor(a => a.LoaiSp, new { @name = "LoaiSp", @id = "LoaiSp", @type = "text", @placeholder = "Loại sản phẩm" })
                                            </div>
                                            <div class="form-group">
                                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                                <label for="fname" style="padding-right:88px">Thương hiệu: </label>
                                                @Html.PasswordFor(a => a.ThuongHieu, new { @name = "ThuongHieu", @id = "ThuongHieu", @type = "text", @placeholder = "Thương hiệu" })
                                            </div>
                                            <div class="form-group">
                                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                                <label for="fname" style="padding-right:57px">Chi tiết sản phẩm: </label>
                                                @Html.PasswordFor(a => a.ChiTietSp, new { @name = "ChiTietSp", @id = "ChiTietSp", @type = "text", @placeholder = "Chi tiết sản phẩm" })
                                            </div>
                                            <div class="form-group">
                                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                                <label for="fname" style="padding-right:124px">Đơn giá: </label>
                                                @Html.PasswordFor(a => a.DonGia, new { @name = "DonGia", @id = "DonGia", @type = "number", @placeholder = "Đơn giá" })
                                            </div>
                                            <div class="form-group">
                                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                                <label for="fname" style="padding-right:116px">Đánh giá: </label>
                                                @Html.PasswordFor(a => a.DanhGia, new { @name = "DanhGia", @id = "DanhGia", @type = "number", @placeholder = "Đánh giá" })
                                            </div>

                                            <div class="form-group form-button">
                                                <input type="submit" name="signup" id="signup" class="form-submit" value="THÊM" />
                                            </div>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    </section>
                    @* ------------------------------------------------------ *@
                </div>
            </div>
        </div>
    </div>

    @*---model update*@
    @if (update != null)
    {<div id="updateModal" class="modal" style="display:block">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="closeu">&times;</span>
                    @*<button style="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
                    <h2>SỬA THÀNH VIÊN</h2>
                </div>
                <div class="modal-body">
                    @* Nội dung thêm *@
                    <div class="main">

                        <!-- Add nhân viên form -->
                        <section class="signup">
                            <div class="container-1">
                                <div class="signup-content">
                                    <div class="signup-form">
                                        @using (Html.BeginForm("SanPham_sua", "Admin", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary()
                                            <form method="POST" class="register-form" id="register-form">
                                                <div class="form-group">
                                                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                                                    <label for="fname" style="padding-right:85px">Mã sản phẩm: </label>
                                                    <input name="MaSp" id="MaSp" type="text" value="@update.MaSp" disabled />
                                                </div>
                                                <div class="form-group">
                                                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                                                    <label for="fname" style="padding-right:60px">Mã nhà cung cấp: </label>
                                                    <input name="MaNcc" id="MaNcc" type="text" value="@update.MaNcc" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                                                    <label for="fname" style="padding-right:86px">Mã nhân viên: </label>
                                                    <input name="MaNv" id="MaNv" type="text" value="@update.MaNv" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="address"><i class="zmdi zmdi-my-location"></i></label>
                                                    <label for="fname" style="padding-right:75px">Mã khuyến mãi: </label>
                                                    <input name="MaKm" id="MaKm" type="text" value="@update.MaKm" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="phone"><i class="zmdi zmdi-account-box-phone"></i></label>
                                                    <label for="fname" style="padding-right:80px">Tên sản phẩm: </label>
                                                    <input name="TenSp" id="TenSp" type="text" value="@update.TenSp" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                                    <label for="fname" style="padding-right:77px">Loại sản phẩm: </label>
                                                    <input name="LoaiSp" id="LoaiSp" type="text" value="@update.LoaiSp" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                                    <label for="fname" style="padding-right:88px">Thương hiệu: </label>
                                                    <input name="ThuongHieu" id="ThuongHieu" type="text" value="@update.ThuongHieu" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                                    <label for="fname" style="padding-right:57px">Chi tiết sản phẩm: </label>
                                                    <input name="ChiTietSp" id="ChiTietSp" type="text" value="@update.ChiTietSp" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                                    <label for="fname" style="padding-right:124px">Đơn giá: </label>
                                                    <input name="DonGia" id="DonGia" type="text" value="@update.DonGia" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                                    <label for="fname" style="padding-right:116px">Đánh giá: </label>
                                                    <input name="DanhGia" id="DanhGia" type="text" value="@update.DanhGia" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                                    <label for="fname" style="padding-right:115px">Ngày tạo: </label>
                                                    <input name="NgayTao" id="NgayTao" type="text" value="@update.NgayTao" />
                                                </div>

                                                <input type="text" name="MaSp" style="display:none" value="@update.MaSp" />
                                                <div class="form-group form-button">
                                                    <input type="submit" name="signup" id="signup" class="form-submit" value="Cập nhật" />
                                                </div>
                                            </form>
                                        }
                                    </div>
                                </div>
                            </div>
                        </section>
                        @* ------------------------------------------------------ *@
                    </div>
                </div>
            </div>
        </div>
    }
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("closeu")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script>
        // Get the modal
        var modal_sua = document.getElementById("updateModal");

        var btn_sua = document.getElementById("btn_sua");

        btn_sua.onclick = function () {
            modal_sua.style.display = "block";
        }
        //Get the <span> element that closes the modal
        var span_x = document.getElementsByClassName("close_x")[0];


        //// When the user clicks on <span> (x), close the modal
        span_x.onclick = function () {
            modal_sua.style.display = "none";
            //}

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal_sua) {
                    modal_sua.style.display = "none";
                }
            }
    </script>

</body>
</html>
@* ---------------------------------------- *@

@* Hiển thị danh sách nhân viên*@

<style>
    .table-bordered: {
        padding: 10px;

        background-color: #66d9ff;
    }
    .mau {
        background-color: #66d9ff;
    }
</style>
<table class="table table-bordered">
    <thead>
        <tr class="mau">
            <td>MÃ SẢN PHẨM</td>
            <td>MÃ NHÀ CUNG CẤP</td>
            <td>MÃ NHÂN VIÊN</td>
            <td>MÃ KHUYẾN MÃI</td>
            <td>TÊN SẢN PHẨM</td>
            <td>LOẠI SẢN PHẨM</td>
            <td>THƯƠNG HIỆU</td>
            <td>CHI TIẾT</td>
            <td>ĐƠN GIÁ</td>
            <td>ĐÁNH GIÁ</td>
            <td>NGÀY TẠO</td>
            <td>NGÀY SỬA</td>

            <td>SỬA</td>
            <td>XÓA</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lstSP)
        {
            if (item.TrangThai == true)
            {
                <tr>
                    <td>@item.MaSp</td>
                    <td>@item.MaNcc</td>
                    <td>@item.MaNv</td>
                    <td>@item.MaKm</td>
                    <td>@item.TenSp</td>
                    <td>@item.LoaiSp</td>
                    <td>@item.ThuongHieu</td>
                    <td>@item.ChiTietSp</td>
                    <td>@item.DonGia</td>
                    <td>@item.DanhGia</td>
                    <td>@item.NgayTao</td>
                    <td>@item.NgaySua</td>

                    @*<td>@item.TrangThai</td>*@
                    @*<td><a href="~/Admin_layout/@item.TenNv">Xóa</a></td>*@
                    <td><button><a asp-area="" asp-controller="Admin" asp-action="load_DataSP" asp-route-id="@item.MaSp">Sửa</a></button></td>
                    <td><button><a asp-area="" asp-controller="Admin" asp-action="SanPham_xoa" asp-route-id="@item.MaSp">Xóa</a></button></td>
                </tr>
            }
        }
    </tbody>
</table>



